---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await getCollection("blog");

---

<BaseLayout pageTitle="Astro | Blog">
    <h2>Recents posts</h2>
    <ul>
        {allPosts.map((singlePost: any) => (
            <BlogPost url={`/posts/${singlePost.id}/`} title={singlePost.data.title} />
        ))}
    </ul>
</BaseLayout>