---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));

---

<BaseLayout pageTitle="Astro | Blog">
    <h2>Recents posts</h2>
    <ul>
        {allPosts.map((singlePost: any) => (
            <BlogPost url={singlePost.url} title={singlePost.frontmatter.title}/>
        ))}
    </ul>
</BaseLayout>