---
import Social from "./Social.astro";
const platform = "hype4";
const username = "michal-nabrdalik";

---

<footer>
    <p>My web designs here: <a href={`https://${platform}.academy/profile/${username}`}>{platform}</a>!</p>
    <Social platform="github" username="mNabrdalik"/>
    <Social platform="x" username="MichalN93"/>
    <Social platform="linkedin" username="in/michal-nabrdalik"/>
</footer>

<style>
    footer {
      display: flex;
      gap: 1rem;
      margin-top: 2rem;
      align-items: center;
    }
  </style>